[2016-07-10 10:48] Billy4195 opened #531 "next_page_params function handle cursors"
I tried to use next_page_params ,but it can't not handle paging data with in cursors format data
I'm trying to implement it
thanks

[2016-07-13 07:59] giedriusr commented on #492
@phlegx I think this can be closed.

[2016-07-13 08:02] #492 closed

[2016-07-14 00:28] rosszhangs opened #532 "Missing `redirect_uri` when exchange long term access token"
When use `exchange_access_token` to exchange Facebook long term access token, following exception was threw.

`#<Koala::Facebook::OAuthTokenRequestError: type: OAuthException, code: 191, message: Missing redirect_uri parameter. [HTTP 400]>`

The function is
[code]

After verifying on Facebook Graph API explore, there is no requirement of redirect_uri or callback_url, and it could return the long t

[2016-07-15 00:49] rosszhangs commented on #532
The issue is not existing today, so I'm going to close the ticket.

[2016-07-15 00:49] #532 closed

[2016-07-18 10:29] antoinegergy commented on #441
Solution for me:
[code]
Please note that i use [Koala with Rails](https://github.com/arsduo/koala/wiki/Koala-on-Rails),  so my `app_id` and `secret_key` are set. This is important because koala use them to generate the `appsecret_proof` that is required for this request.

[2016-07-19 15:17] nonato commented on #529
Hello. thanks for response., I will try that and I will post the result.
thanks

[2016-07-21 14:46] himberjack opened #533 "Potential memory leak?"
Hi!

I suspect next_page is causing my program to have memory leak.
Please review:
http://stackoverflow.com/questions/38507256/potential-memory-leak-in-a-library

[2016-07-24 11:03] OrenRosen commented on #520
Hi there, need to send request to '/instant_articles' https://developers.facebook.com/docs/instant-articles/api
Do you have any update, does Koala supports this?

[2016-07-27 22:12] jthomp opened #534 "Post Message with Video"
_Apologies if this has been asked before. If so, feel free to close this issue and link me to the appropriate resource._

I'm wondering how I can post a video along with a message on a Page with Koala. I'm not referring to the title or caption, but a message just like a normal wall or picture post.

For example, this is how I'm posting a picture:
[code]
This works perfectly. I end up with a post o

[2016-07-28 13:08] msroot opened #535 "API Updates (Facebook Graph API v2.0)"
Hi

The Facebook Graph API  v2.0 will be deprecated on August 8, 2016.
My question is this will affect koala's current version?
We are using koala 2.0.0 atm.
 Is there a document that I can compare the koala version with the facebook graph version supported?

[2016-07-29 13:08] kdelchev commented on #535
@msroot you can use github tags to compare different versions. Also check `changelog.md` for the relevant version changes. You should be able to upgrade koala to 2.1 and specify `Koala.config.api_version` as described in the README file.

[2016-07-31 17:05] harshamv opened #536 "Uploading 360 Photo give error"
I am trying to upload a Spherical Image to Facebook from S3. by doing the following

[code]

It returns the following Error Message

[code]

It works with any normal images from the same `s3 bucket`

*\* **UPDATE 1** **

Tried to upload the same image from `Godaddy` and i am facing the same issue.

*\* **UPDATE 2** **
Tried to upload via Graphy API Explorer, but getting the same error

[code]

[![

[2016-07-31 17:06] harshamv commented on #536
Looks like Koala is timing out bcos of the size of the file!

[2016-08-02 13:08] zipi opened #537 "error with get picture data"
It's the same for every object when I try to get associated picture data all I get is this error message Koala::Facebook::ClientError: type: OAuthException, code: 12, message: (#12) picture edge for this type is deprecated for versions v2.3 and higher.

What should I be doing to get a photo URL instead of this error?

EDIT:
This is interesting if I change Koala.config.api_version to "v2.2" I can g

[2016-08-02 19:01] jthomp commented on #534
Figured it out. Should be using `description` instead of `message` in this case.

[code]

[2016-08-02 19:01] #534 closed

[2016-08-02 19:56] zipi commented on #537
So I just don't know how to use the API. I was able to get what I wanted by adding the fields: "picture" option when I get feeds, never mind.

[2016-08-02 19:56] #537 closed

[2016-08-04 06:57] mittermayrmichael opened #538 "Name Error: Uninitialized Constant Koala::Facebook::API (Sidekiq)"
Hi all,

I run into a Name Error: Uninitialized Constant when I call "Koala::Facebook::API.new" in a sidekiq job. I guess it is missing koala gem and I need to reference it somehow in a sidekiq job. I have tried "require 'koala'" but didn't work out. Any ideas how I can make sure that the Koala gem is referenced in a sidekiq job?

Much appreciated
Mikes

[2016-08-05 02:21] #531 closed

[2016-08-05 06:04] #538 closed

[2016-08-08 15:17] kurko commented on #186
For future reference, it has to be `publish_pages` now, **NOT** `publish_stream`.

[2016-08-09 00:58] faustoct opened #539 "batch request - undefined method `code' for nil:NilClass"
It was working fine but stopped suddenly

I tried perform this

[code]

Stacktrace

[code]

[2016-08-09 12:10] faustoct commented on #539
Something going wrong between _koala_ and _restclient_. The raw code works fine:

curl \
    -F 'access_token=token_comes_here' \
    -F 'batch=[{"method":"GET", "relative_url":"111090485635468/photos?fields=link,created_time,name,images,source,from&limit=1&type=uploaded"}]' \
    https://graph.facebook.com

[2016-08-20 14:38] arjunmenon opened #540 "Programming issue?"
Give me a hint or please correct this approach.

Getting insights for page posts returning `[]`

This is for the Adidas page
`pp graph.get_object("182162001806727/insights/")`
It only returns fields for country data and nothing for page_impressions or page_engagement, etc. Same with for any other page.

Even though the docs mention that Insights are generated for a post/page with more than 30 like

[2016-08-21 05:31] djpate opened #541 "Posting to facebook Page"
I'm trying to setup auto publish to my facebook page on my blog.

I have my facebook app_id, secret and page_id.

I went on the Graph explorer and gave manage_page and publish page permission to my app. I did publish to the page from the explorer by using the app (I think)

But in my code I keep getting

[code]

I keep reading online to go get an access token from the graph explorer but they expir

[2016-08-23 00:22] batasrki commented on #541
@djpate did you create an app on Facebook's side? If not, you have to do that first, get the `app_id` and `app_secret` from there and use those to post from your app.

[2016-08-23 00:24] batasrki commented on #540
This isn't a gem problem, this is a Facebook problem. If you try that query in Graph Explorer, you will likely get the same result. It's unclear to whom Facebook allows to see the insights endpoint, because I've seen the same issue for pages that are clearly over 30 likes. You need to take this up with Facebook.

[2016-08-23 05:42] Timps commented on #540
Faebook insights permissions are crystal clear.

https://developers.facebook.com/docs/graph-api/reference/v2.7/insights

There are only two publicly available metrics. The rest are confidential to owners of the page.
quote from FB:

[2016-08-23 06:20] arjunmenon commented on #540
Sure. Thank you.

[2016-08-23 06:21] #540 closed

[2016-08-25 17:53] alslp commented on #236
Hi Nabil, I got the same problem here.
Can you specify what's the problem with the setup for koala?

[2016-09-08 20:17] jthomp opened #543 "Video Thumbnails"
Hello! I am having an issue trying to attach a thumbnail when uploading a video with Koala. I get the following error: `type: OAuthException, code: 100, message: (#100) Invalid image format. It should be an image file data.`

[code]

I've tried actually downloading the image I want to use and sending the file itself in the `thumb` parameter, but I still get this error. It doesn't accept a URL eith

[2016-09-09 16:04] Billy4195 commented on #539
Hi,
If you want to get access token for client,
you need to get code first and use the code to ask for token.

[2016-09-12 04:20] batasrki commented on #522
I've already implemented it here, https://github.com/Shopify/koala/commit/266ff05680f4a6393da55175dcdac8159d67b4bd.

I needed it for some of Shopify's FB apps. The tests are failing all over the place, though, so, if someone can help with that, I can put a pull request together.

[2016-09-12 13:42] rusikf opened #544 "SSL error"
Hello ruby hackers

Some times during requests through koala gem I have this error
`Connection reset by peer - SSL_connect
`
How to fix it ? If I set
`Koala.http_service.http_options = {
  :ssl => {
    :verify => false
  }
}`

It doesn't work.
If I also set ca_path to `/usr/lib/ssl`, it doesn't works also.

[2016-09-12 14:32] Billy4195 commented on #544
Maybe you can reboot host or restart your rails server
I met this situation before, and after reboot the machine,then  it works

[2016-09-12 14:36] rusikf commented on #544
I have this problem on localhost, I tried restart and reboot - doesn't help

[2016-09-12 14:50] Billy4195 commented on #544
I failed on localhost, too.
after reboot it works well.
Sorry, I have no idea to solve this problem :(

[2016-09-14 14:58] stonko1994 commented on #544
I had the same problem since last week.

We have lots of requests fired in short time to get likes from multiple Posts of an user.

It looks like an raise condition maybe from Facebook.
After I turned on the Logs according to this [SO Answer](http://stackoverflow.com/a/13340867/2307466) the error was unexpected gone.

Don't know if this is an permanently fix but for now it works fine.

[2016-09-14 15:02] tak1n commented on #544
We are currently facing the same problem which occurs quite randomly.
We use koala in sidekiq workers.

E.g. when queuing up 100 jobs to fetch an app access token like this:

[code]

some of them crash with the exception:

[code]

I tried to dig deeper into Faraday, Net::HTTP (which faraday uses internally) and the OpenSSL c extension from ruby itself, but didn't find something.

The CA path of th

[2016-09-14 15:04] koni84 commented on #544
+1

[2016-09-21 19:33] AlexCppns opened #545 "Cannot use filtering parameters and cannot log request for debugging"
The code:
[code]
The error:
Koala::Facebook::ClientError: type: OAuthException, code: 100, message: (#100) The parameter filtering[0][operator] is required [HTTP 400]

This works perfectly fine in the graph api explorer...

[2016-09-21 20:13] AlexCppns commented on #545
I think it crashes specifically on the word `operator`, is that a reserved word or so?

[2016-09-21 20:15] AlexCppns commented on #545
I checked with a simple RestClient, the request works fine.

[2016-09-27 14:15] whitelancer opened #546 "Rails 5 Deprecation issue (inject)"
Hi there,
It looks like the Koala gem relies on injecting data into the params hash, which will be unavailable once Rails 5.1 is released due to the change in the way Parameters are built.

DEPRECATION WARNING: Method inject is deprecated and will be removed in Rails 5.1, as `ActionController::Parameters` no longer inherits from hash.
Using this deprecated behavior exposes potential security probl

[2016-09-27 16:51] istana commented on #438
I'll look into it in a few days if there's still an issue

[2016-09-30 21:46] tomzilla commented on #476
same

[2016-10-01 06:11] RisingPlay opened #547 "Get Facebook profile using Ruby gem Koala not working"
First i tried this:

class FacebooksController < ApplicationController

require 'koala'

def index

@graph = Koala::Facebook::API.new(current_user.oauth_token)
@profile = @graph.get_object("me")
end

end

Errors: Faraday::SSLError in FacebooksController#index SSL_connect returned=1 errno=0 state=SSLv2/v3 read server hello A: unknown protocol

Then I put file cacert.pem(curl.haxx.se/ca/cacert.pem)

[2016-10-01 12:06] #535 closed

[2016-10-10 22:12] faustoct commented on #539
The same code works with raw code and doesn't with koala. Access token is provided in both.
token = access_token.split("=")[1]

[2016-10-11 20:30] TSMMark opened #548 "Support Video Copyright resources"
https://developers.facebook.com/docs/graph-api/reference/video-copyright/

[2016-10-12 10:36] istana commented on #438
with Koala 2.4.0 it works properly now:
[code]

[2016-10-12 10:36] #438 closed

[2016-10-17 10:34] Martijnkerr opened #549 "Posting to your own page on facebook"
In my application I want to post to my own apps facebook page every time a post is made.

I have currently set it up correctly using your guide "acting as a page" where I do

 @graph = Koala::Facebook::API.new("generatedacceskey")
pages = @graph.get_connections('me', 'accounts')
(I see that my apps page is the first one)
page_token = pages.first['access_token']
@page_graph = Koala::Facebook::API.n

[2016-10-18 09:05] tokhi commented on #549
You can actually extend the access token from Facebook developers tool, you can extend it up to 2 months, just select your app and then click extend at the bottom of the page.
https://developers.facebook.com/tools/debug/accesstoken/

[2016-10-18 17:57] acuppy opened #550 "Consider dropping support for fully deprecated Ruby versions?"
I know that you've committed to supporting back to 1.8.7 and other deprecated versions, but I would imagine that that support is going to impede performance improvements.  Further, support may come at the cost of added complexity.

A couple of suggestions:
- Strive for v3 to drop support to pre-2.0 Ruby.
- Pop support for older version to a secondary shims repo

Sooner or later, I'd imagine that g

[2016-10-18 21:13] arsduo commented on #550
Good idea! At this point, I don't think there's much need to hold onto
older Ruby support. Given how relatively stable Facebook's API has been,
older versions of the gem will likely continue to function for a while, and
I'd rather support the majority of users on newer Rubies.

2016-10-18 12:57 GMT-05:00 Adam Cuppy <notifications@github.com>:

[2016-10-18 21:38] acuppy commented on #550
Yeah. It's a tough call, but eventually (and potentially now) the weight of
support out weights the value of it.

I'd be happy to help, if needed.
On Tue, Oct 18, 2016 at 2:13 PM Alex Koppel <notifications@github.com>
wrote:

[2016-10-19 11:47] Billy4195 commented on #539
The  "Code" I said is the a string for FB oauth authenrization
You can get the "Code" from
https://www.facebook.com/dialog/oauth?client_id={app-id}&redirect_uri={redirect-uri}

the redirect url will contain a string for the "Code"

and use the "Code" to get access token
ex:
https://www.facebook.com/oauth/access_token?client_id={app-id}&redirect_uri={redirect-uri}&client_secret={app-secret}&code={C

[2016-10-26 20:56] TSMMark commented on #548
Nevermind, you can already do this via `put_connections`. Like:

[code]

[2016-10-26 20:56] #548 closed

[2016-10-29 11:30] ckbhodge opened #552 "Support for multiple FB Apps at the same time?"
I'm initializing Koala with one FB App's info (app id, secret, callback url) and that is the usual one that I need to use for making graph api calls.

However, I need to occasionally make calls within the same RoR process to the FB graph api for a different FB App.  What's the best way to do this for one-off calls that I need to make for the 2nd FB App?  I thought initializing a new object like th

[2016-10-31 18:19] abhishekchaudhary opened #553 "User request limit reached"
Hi we are facing this "User request limit reached" issue but if I use the same token on Fb graph exlorer console it  works. I already filed a issue on Facebook support but they are saying

[2016-10-31 18:20] #553 closed

[2016-10-31 18:21] abhishekchaudhary opened #554 "User request limit reached"
Hi we are facing this "User request limit reached" issue but if I use the same token on Fb graph exlorer console it works. I already filed an issue on Facebook support and confirmed that everything is fine at their end.

[2016-11-01 09:37] ckbhodge commented on #552
@arsduo sorry to bug you!  any suggestions on this?  thanks!

[2016-11-05 09:38] pavelbulanov commented on #552
Just in case, it looks like I responded to you at SO
http://stackoverflow.com/questions/40337803/koala-support-for-multiple-fb-apps-at-the-same-time/40432192#40432192

[2016-11-08 18:04] ckbhodge commented on #552
Thanks, @pavelbulanov.  I've responded there.  Closing this out.

[2016-11-08 18:04] #552 closed

[2016-11-11 03:44] krtschmr opened #556 "i really don't understand how to post for a facebook page"
so i read the facebook docs and it's still not clear for me.

we have a facebook page, and everytime when something happens, we like to fully automatically post it to our page.

[code]
this throws a `code: 2500, message: An active access token must be used to query info`

if i go to the developer-tools and check the graph-explorer and request a token (for my personal account) (and give permissions

[2016-11-11 05:53] mohsalsaleem commented on #554
Have you been making errorful requests prior to the "User request limit reached"? If that's the case, Facebook might be throwing that error. You can make the request again after waiting 5 minutes. That has been the problem in my case.

[2016-11-15 02:12] rajeevriitm opened #557 "Get large and small profile picture in one go"
Currently I can get only one type of picture in one go. When I include both ``small`` and ``large`` type in ``picture``  type , I get an error saying ``Koala``  support a field ( ``picture`` ) only once in the request. Is there any way to do it without using another request to get picture  ?

[2016-11-15 07:31] abhishekchaudhary commented on #554
@mohsalsaleem Initially I filed a bug with Facebook only but they are saying everything is working fine at their end.

[2016-11-15 08:04] mohsalsaleem commented on #554
I suggest you go through the code and see if you are making any mistakes anywhere which causes an error.

[2016-11-15 08:06] abhishekchaudhary commented on #554
@mohsalsaleem I don't think there is any scope for mistake from my side as I am simply calling get_connections method on Koala instance.

[2016-11-17 07:33] shreyaq3 opened #558 "Support for managing roles for an app/page ?"
Does Koala support managing roles of non-admin users for a facebook app or a page?
I would like to achieve [this](https://developers.facebook.com/docs/graph-api/reference/v2.8/app/roles#publish)
Apologies in advance if I have missed it.

[2016-11-17 07:45] shreyaq3 commented on #558
This is embarrassing. I figured it out. :)

[2016-11-17 07:45] #558 closed

[2016-12-01 05:00] LucasCioffi opened #559 "Typo in the Wiki"
Great gem!

This was in the [Wiki](https://github.com/arsduo/koala/wiki/Graph-API#getting-private-data):
`@graph.get_connection('search', type: :place)`

But I think you wanted this:
`@graph.search('koala', type: :place)`

[2016-12-03 03:24] san commented on #543
Anyone figured this out?

I am running into the same issue. It's not working either by image url or image data. It returns the same error as mentioned by @jthomp.

According to FB documentation (https://developers.facebook.com/docs/graph-api/reference/video), it should work with image data, but its not.

[2016-12-05 20:31] christianstanfield commented on #518
Did you ever resolve this issue? I noticed this as well. I can confirm on facebook's graph explorer the correct post id is returned, so it must be a bug in koala

[2016-12-05 22:54] christianstanfield commented on #518
I've noticed this same thing. It does seem that Facebook isn't consistent with their post ids. When requesting posts in a batch I've even gotten back a different id for the post I just requested by id. I thought it was Koala parsing at first but I can reproduce it in the graph explorer.

[2016-12-06 12:00] rostixman commented on #557
I have same problem...

[2016-12-14 14:34] alain-andre opened #560 "Get user email"
Hi, thanks for this wonderful gem.

I'm using it for an API. The client send in Headers the user token and the server test if the user is Facebokk authenticated then add it to the DB or update infos.

I'm trying to get the user email and it seems to fail in my tests.

My specs starts with this code.

[code]

And are sending the `@headers` during request like this :

[code]

My controller always `a

[2016-12-15 21:08] pywebdesign opened #561 "url_for_oauth_code doesn't make faebook generate new token when adding permissions"
Let say our user have authenticated with our app with facebook and gave us the basic permissions

now when I generate them a new link to ask for more permission, facebook doesn't ask for it and simply return the same "code" which translate to the same access token without the added permission:

generate a link
```@facebook_permission_url = @oauth.url_for_oauth_code(permissions: "publish_actions")`

[2016-12-16 14:57] mb21 commented on #159
or e.g.

    graph = Koala::Facebook::API.new(accessToken)
    hashes = graph.get_connection('me', 'feed', limit: 10, fields: ['id','picture','full_picture'])

[2016-12-16 19:23] alain-andre commented on #560
I could make a test with real token. I get the email.

[2016-12-16 19:23] #560 closed

[2016-12-28 12:59] jaypandya73 opened #562 "Post Like is not working"
How i can make post request on users FB posts through application?

I am using below code for making post request:

[code]
when i try to make post request through Koala gem

[code]

and error says
[code]

__Note__ - Also i have tried to make call with page_access token but still getting same error.

I have gone through some links for this issues and seems like facebook has made some changes in the

[2017-01-03 19:18] danielbonnell commented on #270
Hello!

I'm having the same issue. I want to be able to share a post on my timeline through the API given the original post's id. I've tried something like this, but I get an error message. Additionally I can't locate any documentation on how to accomplish this.

Thanks!

Here's what I tried:

[code]

Here's the error I'm getting:

[code]

[2017-01-03 19:21] danielbonnell commented on #562
Facebook has restricted the ability to `like` a post through the API to pages. You can only like a post if you are acting as a page now. The error message basically says as much. You can read more [here](http://stackoverflow.com/a/41450633/4139179).

[2017-01-04 00:13] bobber205 opened #563 "Lots of errors about "GET {photo-id}/feed" when using get_connections("me, "feed")"
Our use of the koala gem is this solo use case, aside from the webhook integration/meet challenge features.
[code]

For some reason we get tons of these errors

![image](https://cloud.githubusercontent.com/assets/5841107/21627781/1a905364-d1cf-11e6-8a0c-79c0d2074687.png)

We've never ever made that call explicitly. Is it possible that the gem is making that call for us?
We get photo related inform

[2017-01-04 00:23] bobber205 commented on #533
Page no longer found for that SO post.
we should close this issue.

[2017-01-20 14:48] vladvict commented on #489
Sometimes it can be the case when permissions in scope are correct and it is more than just website in Facebook app (iOS, Android etc.), it will be necessary to set extra permissions on their SDK.

[2017-01-31 16:20] danielbonnell commented on #522
Something like this would be fantastic!

[2017-02-08 12:23] alfredoreduarte opened #564 ""Please reduce the amount of data you're asking for" when using koala.delete_connections"
Hi! I'm making a simple request to delete a page tab, something that worked until like yesterday:

[code]

And now I'm getting this weird error. How am I supposed to limit this if I'm only deleting one item? I couldn't find a similar case among the older issues.

[code]

[2017-02-10 08:32] ravuthlong commented on #519
access_token = auth['token']
	    facebook = Koala::Facebook::API.new(access_token)
	    facebook.get_object('me', fields: 'id,name,gender,picture.type(large)')

the documentation is terrible. took me an hour to find

[2017-02-14 13:05] drav96 commented on #543
Anyone here ?  I also encountered this problem

[2017-02-15 23:47] arsduo commented on #564
Hi! That's a really bizarre issue. Unfortunately it's coming directly from Facebook (probably some API change they've made), so I don't know what specifically needs to be changed to make it work. I suggest posting this question on [facebook.stackoverflow.com](http://facebook.stackoverflow.com) — I believe Facebook still uses that as their official developer forum.

If it turns out to be something

[2017-02-15 23:47] #564 closed

[2017-02-15 23:48] arsduo commented on #562
Thanks, @danielbonnell! I'm going to close this since it seems like the issue's resolved.

[2017-02-15 23:48] #562 closed

[2017-02-15 23:50] arsduo commented on #517
Thanks, both of you! I'll review the docs and update them appropriately if any of them say you can do that.

[2017-02-15 23:52] arsduo commented on #518
Thanks, @christanstanfield. (And apologies about the late response!) Since it's a Facebook issue I'm going to close the issue, but if you do find anything related to this with Koala please reopen it.

[2017-02-15 23:52] #518 closed

[2017-02-15 23:54] arsduo commented on #520
Apologies for the late response! I hope you've figured out that Koala does support instant articles — you can use put_connection/etc with instant_articles as the connection type. Thanks for using Koala!

[2017-02-15 23:54] #520 closed

[2017-02-15 23:54] arsduo commented on #529
Closing since it's been 7 months — let me know if you're still seeing issues.

[2017-02-15 23:54] #529 closed

[2017-02-15 23:58] arsduo commented on #500
Apologies for the late response! I'm sure you've figured something out by now, but tl;dr: I'm not sure. [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a good place to ask questions about the Facebook API itself (I only know sections of it).

Closing this issue, feel free to reopen is there's anything that would be good to change in Koala around this.

[2017-02-15 23:58] #500 closed

[2017-02-15 23:59] arsduo commented on #497
Hi! Apologies for the late response. That definitely sounds like it was a Facebook issue — hopefully it's worked itself out. If not, [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a good place to ask questions about the Facebook API.

Thanks for using Koala!

[2017-02-15 23:59] #497 closed

[2017-02-16 00:01] arsduo commented on #499
Hi! Sorry for the late response on several of these issues. I'm very glad to hear you can't reproduce it anymore. Facebook does amazing things with their API, but sometimes bugs do come (and go).

I'm going to close this for now, but let me know if there's anything I can help with around the gem!

[2017-02-16 00:01] #499 closed

[2017-02-16 00:02] arsduo commented on #493
Hmm, that's strange. Are you still seeing this?

(Apologies for the really late response!)

[2017-02-16 00:03] arsduo commented on #491
Closing since it's been a while. Please reopen if you're still encountering it!

[2017-02-16 00:03] #491 closed

[2017-02-16 00:04] arsduo commented on #489
Since it doesn't sound like there's anything specific to Koala in here, I'm going to close it. Please reopen if there are some things we can change/fix/improve in the gem!

[2017-02-16 00:04] #489 closed

[2017-02-16 00:05] arsduo commented on #467
Hi Mike! Apologies for the late response. Since it sounds like you found a way to resolve this and I haven't heard other reports of this, I'm going to close this. Please reopen if appropriate!

[2017-02-16 00:05] #467 closed

[2017-02-16 00:06] arsduo commented on #455
Closing since it's been a while. Please reopen if you're still encountering it!

[2017-02-16 00:06] #455 closed

[2017-02-16 00:39] arsduo commented on #557
Hmm. Is that supported by the Facebook API?

If you're able to test this in the Facebook Graph API explorer (https://developers.facebook.com/tools/explorer/), that would be hugely useful. If it's not possible we can close this, if it is but Koala doesn't support it, I'll get that fixed.

Thanks!

[2017-02-16 00:41] arsduo commented on #554
Hmm, that's strange. Are you still seeing this issue? If so, can you turn on Koala's debug mode and compare the requests it's making that fail with the ones that work in the explorer? If we can identify the differences we can fix any discrepancy.

[2017-02-16 00:43] arsduo commented on #503
Resolving since it's been a while, let me know if you still have issues!

[2017-02-16 00:43] #503 closed

[2017-02-16 00:43] arsduo commented on #445
Resolving from it's been a while. Let me know if it's still an issue!

[2017-02-16 00:43] #445 closed

[2017-02-16 00:44] arsduo commented on #510
Resolving since it's been a while. Let me know if it's still an issue.

[2017-02-16 00:44] #510 closed

[2017-02-16 01:05] arsduo commented on #563
Apologies for the late response! Koala is a pretty simple gem so it shouldn't be making any extra calls. There's a tiny bit of processing around photos but nothing that looks at /feed to my knowledge.

When you look at the errors in the Facebook alert, what do you see?

One approach might be to turn on Koala's debug mode and set the logger appropriately to see what calls are getting made. I'd be v

[2017-02-16 01:09] arsduo commented on #561
Hi! I'm honestly not sure what the expected Facebook behavior is at this point. The best place to ask is http://facebook.stackoverflow.com — if you turn on Koala's debug mode to show the calls that are being made and post on there, you'll hopefully get an answer.

I'm closing this because it seems like a Facebook issue. If it turns out to be an issue with Koala, please reopen this issue and we'll

[2017-02-16 01:09] #561 closed

[2017-02-16 01:15] arsduo commented on #556
As far as I know, the token does expire, but I'm not sure what rules Facebook uses to determine when. Are you able to post with Koala using the same active token? How long are you holding onto them?

If you're able to use Koala with the active token, it sounds like a question of how to use the Facebook API — the best place to ask that is http://facebook.stackoverflow.com. if you still have a quest

[2017-02-16 01:24] krtschmr commented on #556
token was valid maybe 60-90 minutes iirc

Am 16.02.2017 um 08:15 schrieb Alex Koppel:

---
Diese E-Mail wurde von Avast Antivirus-Software auf Viren geprüft.
https://www.avast.com/antivirus

[2017-02-16 18:50] bobber205 commented on #563
Thanks so much!
I added it and I only see the subs endpoint and /me/feed

Just like I expected!

Again I really appreciate you taking the time to respond :)

Don't worry about it being late. We're all super busy!

[2017-02-16 18:50] #563 closed

[2017-02-17 03:06] arsduo commented on #550
I'm in the process of releasing 3.0 now, and as you suggested have stopped support for pre-2.0. (Looking forward to required keyword arguments once 2.1 is the minimum!)

Would be happy for your help with future work! I definitely want to simplify more of the code the way your pull request does.

[2017-02-17 03:06] #550 closed

[2017-02-17 03:28] arsduo commented on #556
That makes sense. There are, I think, ways to exchange an existing token for a new one when it's going to expire -- I'd check the Facebook docs for that. If you have specific Facebook API questions (separate from the Ruby gem), [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a great resource.

I'm going to close this since it doesn't seem to be related to the gem itself, but fee

[2017-02-17 03:28] #556 closed

[2017-02-17 03:30] arsduo commented on #539
Hmm. This sounds like it could be an issue -- are you still experiencing it? If so, can you provide a (sanitized) example of the raw data you get back from Facebook when you do the curl request?

Thanks! Sorry about the late response.

[2017-02-17 03:34] arsduo commented on #547
Hi! The first issue is an SSL problem with your local setup -- [this](https://coderwall.com/p/pzsm5w/how-to-fix-the-openssl-certificate-verify-error-in-ruby-using-rvm) might be useful for that.

The second problem is, I think, that you're trying to use `Rails.root` (which is a Pathname object) when Koala/Faraday expects a string (to the `pem` file itself).

I apologize for the late response -- hop

[2017-02-17 03:34] #547 closed

[2017-02-17 03:41] arsduo commented on #546
Great question! Koala doesn't hook into Rails itself, but I'm guessing that you're passing a set of parameters directly from the controller into the gem. Koala uses raw Ruby objects (it works both inside and outside Rails), so it doesn't have specific handle Rails data structures.

The best thing to do (which you've probably already done, apologies for the late response) is to permit the appropria

[2017-02-17 03:41] #546 closed

[2017-02-17 03:42] arsduo commented on #533
Yep! Thanks for flagging that @bobber205. @himberjack, if you find a replicable bug, please open another issue.

[2017-02-17 03:42] #533 closed

[2017-02-17 03:43] arsduo commented on #526
Interesting! That's a good catch. I take it there are cases where you might want to use a specific API version for `next_page` but not to set it for the API as a whole?

[2017-02-17 03:46] arsduo commented on #544
`Connection reset by peer` means the connection got interrupted by a crash or network hiccup somewhere along the line. That's the nature of life on the Internet, unfortunately -- sometimes connections have problems. The only thing we can do is capture the error when it occurs and implement appropriate code to retry.

See, for instance, http://stackoverflow.com/questions/1434451/what-does-connectio

[2017-02-17 03:46] #544 closed

[2017-02-17 03:47] arsduo commented on #466
Closing this per the discussion in #481.

[2017-02-17 03:47] #466 closed

[2017-02-17 03:50] arsduo commented on #462
Ah, that makes sense. There's a PR open now to add the secret (#542), so I'll resolve this -- once that's merged in and 3.0.0 is released, please give it a try (if you're still using these APIs, of course -- it's been a while).

[2017-02-17 03:50] #462 closed

[2017-02-17 03:51] arsduo commented on #461
Apologies for the late response, the issue backlog grew and I missed some. I don't know the answer to this (and assume you figured something out), but [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a great resource in general.

[2017-02-17 03:51] #461 closed

[2017-02-17 03:52] arsduo commented on #434
Apologies for the late response, the issue backlog grew and I missed some. I don't know the answer to this (and assume you figured something out); I saw you've already posted on StackOverflow, which is the better place to get answers on what's happening with the Facebook API itself (as opposed to the Koala gem).

[2017-02-17 03:52] #434 closed

[2017-02-17 03:53] arsduo commented on #421
Apologies for the late response, the issue backlog grew and I missed some. It sounds like the Facebook docs are the right place for you to look (though I'm sure you've figured it out by now) and [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a great resource in general.

[2017-02-17 03:53] #421 closed

[2017-02-17 03:54] arsduo commented on #388
Awesome! Glad that got fixed.

[2017-02-17 03:54] #388 closed

[2017-02-17 03:54] #357 closed

[2017-02-17 03:55] #312 closed

[2017-02-17 03:56] arsduo commented on #313
Apologies for never getting to this. This is obviously too late to be useful, but in general the Facebook documentation should point anyone else with the same question in the right direction, and [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a great resource in general.

[2017-02-17 03:56] #313 closed

[2017-02-17 03:57] arsduo commented on #315
Closing since it's been two years. Please reopen if this is still an issue.

[2017-02-17 03:57] #315 closed

[2017-02-17 03:57] arsduo commented on #336
Thanks! Sorry about the very late response. Closing since it's been three years(!), if you have any other problems anytime, please feel free to open new issues!

[2017-02-17 03:57] #336 closed

[2017-02-17 03:59] arsduo commented on #239
`put_wall_post` should have done basically that, so that's strange. I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem.

[2017-02-17 03:59] #239 closed

[2017-02-17 04:00] arsduo commented on #251
I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem. 500 errors mean something went wrong on Facebook's side and usually that goes away once they fix the bug.

[2017-02-17 04:00] #251 closed

[2017-02-17 04:01] #259 closed

[2017-02-17 04:01] arsduo commented on #276
I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem. 500 errors mean something went wrong on Facebook's side and usually that goes away once they fix the bug.

[2017-02-17 04:01] #276 closed

[2017-02-17 04:02] arsduo commented on #291
Apologies for never getting back to this. Are you still encountering these issues? How did you work around it?

[2017-02-17 04:05] arsduo commented on #297
That last one sounds like Facebook may have (possibly changed the) restrictions on what kind of apps can send notifications.

Are any of you still having issues with this? It doesn't sound specifically like a Koala issue, but if there's something that I can change with the gem or the documentation to make it easier, let me know.

[2017-02-17 04:05] arsduo commented on #299
Closing since it's been a few years and looks like it was a question about the use of the Facebook API. Please reopen if you found a bug in a current version of Koala!

[2017-02-17 04:05] #299 closed

[2017-02-17 04:08] arsduo commented on #305
I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem. That sounds like a strange bug -- hopefully Facebook fixed it.

[2017-02-17 04:08] #305 closed

[2017-02-17 04:09] arsduo commented on #308
Glad you figured it out! Sorry about the late response -- I appreciate you following up. Let me know if you run into any other issues.

[2017-02-17 04:09] #308 closed

[2017-02-17 04:11] arsduo commented on #215
Apologies for never getting back to this. I'm assuming we all figured this out a long, long time ago. (Definitely reopen if not.)

[2017-02-17 04:11] #215 closed

[2017-02-17 04:12] arsduo commented on #221
@ctres apologies for the late response. Was it being ignored even if you JSON-encoded it?

[2017-02-17 04:14] arsduo commented on #226
So it's been quite a while, but this is still an open and interesting issue. I'm tagging this for consideration for a future release. Thanks for the suggestion.

[2017-02-17 04:14] arsduo commented on #226
(If you or anyone reading this wants to submit a PR I'd be glad to review it!)

[2017-02-17 04:14] arsduo commented on #351
I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem. Looks like you got answers on StackOverflow.

[2017-02-17 04:14] #351 closed

[2017-02-17 04:16] arsduo commented on #338
That's pretty awkward. I'll keep this flagged as an open issue.

[2017-02-17 04:17] arsduo commented on #356
I'm guessing this is no longer an active issue (sorry about the crazy late response), so I'm going to close it, but please feel free to reopen it if it's still a problem. 500 errors mean something went wrong on Facebook's side and usually that goes away once they fix the bug.

[2017-02-17 04:17] #356 closed

[2017-02-17 04:18] arsduo commented on #358
Apologies for the really late response. Google should be useful for finding this, but if you'd like to add that to the wiki page, that'd be awesome.

(Resolving since it's been a while.)

[2017-02-17 04:18] #358 closed

[2017-02-17 04:19] arsduo commented on #559
Great catch! That wiki predates the search method. Fixed :)

[2017-02-17 04:19] #559 closed

[2017-02-17 04:20] arsduo commented on #509
Yeah, that's unfortunate. Unfortunately Facebook is responsible for the returned data -- if you're still seeing inconsistencies there, I'd recommend filing a bug with them. :|

[2017-02-17 04:20] #509 closed

[2017-02-17 04:21] arsduo commented on #484
Did you ever figure this out? I'm not sure what the right answer is, unfortunately. [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a good place to ask.

[2017-02-17 07:51] tak1n commented on #544
@arsduo I think facebook had some issues with their servers as this didn't occurr anymore 2 days afterwards. So yea definitely not a bug in koala :)

[2017-02-17 12:23] whitelancer commented on #546
Ah, that is interesting -- I can see how that would have caused this issue.  Thanks for investigating and responding.  We did basically fix this by ensuring we were passing a raw hash instead of the new Params, so that's definitely the issue.  Thank you!

[2017-02-17 15:44] arsduo commented on #530
Awesome! I really dislike those workarounds. I'll update the gemspec with 3.0 and remove those workarounds. Thanks for the heads-up!

[2017-02-17 15:51] arsduo commented on #522
Sorry about the late response. This is a great idea.

There's already support for getting the whole response object, but that's not really useful in this case. Do you think it's better to expose all the headers or just the rate limiting info?

@batasrki, I've fixed the failing tests in master for version 3.0 — if you want to make a PR against that that would be awesome. Thank you!

[2017-02-17 16:47] arsduo commented on #530
Hmm. Does it actually comply with the RFC? If I'm reading the [RFC](https://tools.ietf.org/html/rfc7159#page-13) properly, the string `"true"` is a valid JSON text, but `JSON.parse("true")` raises a `JSON::ParserError`. Facebook has returned those values in the past, which might require us to keep the hack.

I'll open up an issue on the JSON gem (if no one else has) to ask this question.

[2017-02-17 16:51] arsduo commented on #530
Ah! `quirks_mode: true` is my friend.

[2017-02-17 23:43] arsduo commented on #530
Resolved in #573.

[2017-02-17 23:43] #530 closed

[2017-02-18 17:01] arsduo commented on #541
Thanks, @batasrki! I'll close this now — @djpate, if you run into any bugs with the gem, please open an issue and I'll help with that. facebook.stackoverflow.com is a good place to ask general questions about the Facebook API.

[2017-02-18 17:01] #541 closed

[2017-02-18 17:03] arsduo commented on #536
Hmm. Since you're seeing the same problem with the Graph Explorer, it looks like this is a bug on Facebook send. I would recommend opening an issue with them if you're still experiencing it (apologies for the late response!), or posting on facebook.stackoverflow.com.

I'm going to resolve this, but if you do discover that there's a problem with the gem itself, please either reopen or file a new is

[2017-02-18 17:03] #536 closed

[2017-02-18 17:06] arsduo commented on #549
Thanks @tokhi! Hope that got things worked out.

For these kinds of general API questions, facebook.stackoverflow.com is a great place to ask. If you run into any bugs with the gem, please open an issue and I'll help with that.

[2017-02-18 17:06] #549 closed

[2017-02-18 17:07] arsduo commented on #494
That's odd — every request in Koala supports the options hash that includes api_version. Apologies for the late response, are you still experiencing this?

[2017-02-18 17:11] arsduo commented on #426
@bistanil98 I thought about making the access token compulsory, but according to Facebook docs there are still a few endpoints that don't require one("Most API calls must be signed with an access token" on https://developers.facebook.com/docs/graph-api/using-graph-api, viewed today). Given that I don't want to make the change until it's absolutely necessary.

I will however update the read me to i

[2017-02-18 17:54] batasrki commented on #522
@arsduo as soon as I have some time, I'll make a PR and we can discuss what to return. I think returning the headers in full would be good, as well as adding convenience functions to pull certain useful things out of the headers.

[2017-02-18 19:52] arsduo commented on #448
Apologies for the late response! I'm sure you've figured something out by now, but tl;dr: I'm not sure. [facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a good place to ask questions about the Facebook API itself (I only know sections of it).

Closing this issue, feel free to reopen is there's anything that would be good to change in Koala around this.

[2017-02-18 19:52] #448 closed

[2017-02-18 19:53] arsduo commented on #392
Apologies for the late response! I'm sure you've figured something out by now, but tl;dr: I'm not sure. As far as I've always seen, all requests fall once the token expires.

[facebook.stackoverflow.com](http://facebook.stackoverflow.com) is a good place to ask questions about the Facebook API itself (I only know sections of it).

Closing this issue, feel free to reopen is there's anything that wo

[2017-02-18 19:53] #392 closed

[2017-02-18 19:55] arsduo commented on #359
Hi! Apologies for never responding. If you figured it out (or if you're still encountering it) I'd be interested to hear, but I'm guessing this is no longer an active issue.

[2017-02-18 19:56] arsduo commented on #360
Thanks, @Aeze! I'm going to close this now given how old it is, but if you have any issues related to the gem, please open another ticket and I'll take a look!

[2017-02-18 19:56] #360 closed

[2017-02-19 03:11] arsduo commented on #543
Apologies for the late response!

I've been working on the live test suite, and those image tests there seem to be passing okay with test users. You could potentially compare how you implemented it with those calls.

Are you able to make it work using the Graph API Explorer? I don't think you can send files with that but you could try with a URL. If it works there but not on Koala, we probably hav

[2017-02-19 03:14] arsduo commented on #439
Sorry about the late response!

It's been awhile since I've used the realtime updates API, but I believe that that error message means that when Facebook went to call back to your server, it didn't get the response it was expecting. Have you verified what happened when the callback came?

Since others have been able to make subscriptions, it's probably not an issue with the gem. Since it's also be

[2017-02-19 03:14] #439 closed

[2017-02-20 01:26] arsduo commented on #545
Thanks for the issue! Apologies for the late response. I appreciate your reproducing it in the Graph API explorer.

I'm guessing it might be an encoding issue — I'll try testing it with the logger level set to debug and see what's produced and compare that to the explorer and fix it. (If you have a chance to test that, that would be awesome.)

[2017-02-20 01:28] arsduo commented on #519
Yeah, that's no good. The picture convenience method should support that. I'll look into it and fix the bug. Thanks for reporting it (and apologies for the late response)!

[2017-02-20 01:29] arsduo commented on #486
That's a good question, but unfortunately I don't know :/ I suggest asking on facebook.stackoverflow.com (if it's still an issue — apologies for the late response!).

[2017-02-20 01:29] #486 closed

[2017-02-20 17:03] alepore commented on #338
see https://developers.facebook.com/docs/graph-api/reference/v2.8/url/

[2017-02-20 17:59] arsduo commented on #338
Cool, thanks, that's useful. This type of weird need fits the criteria for a convenience method, so I'll build one.

[2017-02-21 02:29] arsduo opened #581 "Batch API should use Response objects"
This will be useful as future work extends the link between GraphCollection and Responses.

[2017-02-21 04:43] acuppy commented on #581
How so? I'd be happy to put work into this if you want to guide me down the path.

[2017-02-22 03:51] arsduo opened #585 "Fix live tests"
There are 15 failures remaining when you run `LIVE=true rspec`. It would be great to get that number to 0 -- hopefully it's only a matter of fixing the specs, but it's also possible there are future API changes (or removals) to do.

[2017-02-22 03:54] arsduo commented on #581
After sleeping on it, I'm not sure it's actually necessary. The big question was how provide information about the response headers to GraphCollection so users can access etags or rate limits (see #454 or #522).

It turns out that by clearing up the relationship between API#api and API#graph_call (#584), we can provide that info where it's needed without having to refactor the batch API.

(That sa

[2017-02-22 03:55] arsduo commented on #480
Looking back at this having done more programming in functional and immutable languages, I actually prefer it not to be a class. By extracting a Request object from HTTPService, it turns out we can simplify the module a lot without having to add state.

[2017-02-22 03:55] #480 closed

[2017-02-22 03:57] arsduo commented on #40
Ah, the very olden days! This has long since not been a live issue -- nowadays there are so many better ways to handle doing development, among them VCR (which I hope to port the test suite to someday).

Hope you've all had a great 5.5 years! Closing this issue.

[2017-02-22 03:57] #40 closed

[2017-02-22 23:21] austin-wang commented on #581
This issue is well-timed: I was actually looking for this functionality and started working on this: https://github.com/austin-wang/koala/commit/641ae82f8cc71d983fac9bb59229bfe884624c6e

[2017-02-22 23:54] arsduo commented on #581
Awesome @austin-wang! I appreciate that.

One note: there've been a bunch of Koala changes leading to 3.0 (which should come out soon and which I'd love to include this in). Batch API in particular has been refactored (thanks, @acuppy!). Would you be able to reapply your changes to the new code? It should be a little annoying but not too hard.

[2017-02-23 00:34] austin-wang commented on #581
@arsduo will do, I'll take a look at latest on master.

[2017-02-23 00:38] arsduo commented on #581
Thanks! Let me know if you have any questions.

(I just added a pull request template as well -- let me know what you think
when you open it up!)

2017-02-22 18:34 GMT-06:00 Austin Wang <notifications@github.com>:

[2017-02-25 17:11] arsduo commented on #291
I'm going to close the issue since it's  been a while; please reopen it if you are still having a problem with the gem or open a new one if needed. Thanks for using Koala!

[2017-02-25 17:11] #291 closed

[2017-02-25 17:11] arsduo commented on #359
I'm going to close the issue since it's  been a while; please reopen it if you are still having a problem with the gem or open a new one if needed. Thanks for using Koala!

[2017-02-25 17:11] #359 closed

[2017-02-25 17:12] arsduo commented on #297
I'm going to close the issue since it's  been a while; please reopen it if you are still having a problem with the gem or open a new one if needed. Thanks for using Koala!

[2017-02-25 17:12] #297 closed

[2017-02-25 19:31] arsduo commented on #493
Resolving since it's been a while. Let me know if it's still an issue.

[2017-02-25 19:31] #493 closed

[2017-02-25 19:31] arsduo commented on #484
Resolving since it's been a while. Let me know if it's still an issue.

[2017-02-25 19:31] #484 closed

[2017-02-25 19:35] arsduo commented on #464
I'm not sure, to be honest. facebook.stackoverflow.com is probably the best place to ask about how to use the API — let me know that you find! And if it turns out that the gem can't handle the request, please open anotherissue and I'd be happy to update it. (Closing since this seems like more of an API question than an issue with the Koala Ruby gem — please reopen if I'm wrong.)

[2017-02-25 19:35] #464 closed

[2017-02-26 03:45] kevinjbayer opened #587 "Koala on Rails wiki update"
I was messing around updating a project to the 5.1 beta and received an error that alias_method_chain was deprecated. I tracked it down to usage in my koala.rb initializer. I think I've got a fix that I'd be happy to edit into the wiki, but just wanted some feedback if it is indeed correct. It doesn't break my app, but I haven't fully tested yet.

Original:
[code]

My fix (per [justinweiss.com](ht

[2017-02-26 04:18] kevinjbayer commented on #587
Posted too soon. My fix doesn't seem to work.

[2017-02-26 08:18] #519 closed

[2017-02-27 18:50] AlexWellsHS opened #588 "test users' locale defaults to de_DE"
Hello!

I am using the Koala gem to create test users for UI Automation testing. Every test user I create through Koala has their locale set to "de_DE", which makes it quite the hassle to touch a button in the UI that can only be queried for in a certain language.

Is it possible to create a test user with a specified default locale? Or is it possible to create a test user, and use user_graph_api

[2017-02-27 22:24] arsduo commented on #588
That's a very strange situation. I have no idea, unfortunately, I've never
looked into that. Do the Facebook docs have anything about setting locale?

I would actually suggest that you post on facebook.stackoverflow.com,
that's the best place for API questions. As a sole maintainer,
unfortunately don't have the resources dig into individual questions about
how Facebook works :/

Since this doesn't

[2017-02-27 22:25] arsduo commented on #588
As a side note, I've released a beta version of Koala 3.0! There shouldn't
be any significant differences for most users (all internal changes). If
you have a little bit of time to test it out I would love any feedback!

On Feb 27, 2017 16:23, "Alex Koppel" <alex@alexkoppel.com> wrote:

[2017-02-28 00:31] #588 closed

[2017-02-28 00:37] arsduo commented on #587
Hmm. That wiki page was one I hadn't written myself and probably needs some real rewriting.

You can always accomplish the same thing with two alias calls or write a quick module that generated the OAuth objects using the appropriate values. There's a suggestion (#226) to add a global default, much like the Twitter gem, so I might implement that soon.

If you figure out a solution and want some fe

[2017-02-28 13:40] arsduo commented on #581
@austin-wang someone just submitted #589, which incorporates these changes. I don't believe it has an option to turn the full response object from the batch API, but I'll add that when I merge it in this week (unless you want to submit a PR based on those changes).

Thanks for your feedback and for using Koala!

[2017-02-28 13:40] #581 closed

[2017-03-01 01:56] arsduo commented on #226
Good news! I'm about to merge #591, which adds global configuration for all the various attributes the gem uses.

[2017-03-01 01:56] #226 closed

[2017-03-01 02:40] arsduo commented on #587
Good news! I just merged in #591, which gives a way to provide default values globally through `Koala.configure`. If you update to the new `3.0.0.beta3` release, you should be able to use it. (If you do upgrade, let me know how it works for you!)

[2017-03-01 02:40] #587 closed

[2017-03-01 02:42] arsduo commented on #522
Good news! #589 was merged, which exposes the headers for all GraphCollection objects. For non-GraphCollection objects, you can use `http_component: :response` to get the whole Response object.

If you upgrade to `3.0.0.beta3` or above, you can test it out. (There should be few to no breaking changes for most users, even though the internals have changed a bunch.) Let me know how it goes!

[2017-03-01 02:42] #522 closed

[2017-03-01 02:43] arsduo commented on #411
I've updated the docs to reflect that most calls need an access token now. Thanks for pointing this out!

[2017-03-01 02:43] #411 closed

[2017-03-01 02:43] arsduo commented on #426
I've updated the docs to reflect that most calls now require an access token. Thanks for pointing that out!

[2017-03-01 02:43] #426 closed

[2017-03-01 02:52] kevinjbayer commented on #587
Thanks, I'll give it a shot tomorrow!

[2017-03-02 16:46] rusikf opened #593 "Validate integrity in facebook webhooks"
For using already registered webhooks, we must use something like this:
[code]
But in real world, we don't need to make initialize request, because `validate_update` [only validates  integrity and origin of the payload](https://developers.facebook.com/docs/graph-api/webhooks), no authorization request on this step required, only secret key is needed for checking integrity.

[2017-03-04 21:50] arsduo commented on #593
Hi @rusikf! That's a good point. The `RealtimeUpdates` object shouldn't make a request for the app access token until and unless it actually needs it. I'll rewrite the code to fix that.

[2017-03-06 15:28] arsduo commented on #593
Closing since #594 is about to be merged in.

[2017-03-06 15:28] #593 closed

[2017-03-07 05:56] pawandubey opened #595 "Rails 4.2 support"
Trying out Koala 3.x with Rails 4.2.7 and it seems like it depends on `json` version `>= 2.0` but `rails` itself locks it as `json (>= 1.7.7, ~> 1.7)`.

So no way to use it with rails 4.2 apps as of now. Maybe drop `json` version to `>= 1.7`?

EDIT: I see that it was done to enable the `quirks_mode` option. Anyway around it?

[2017-03-07 09:24] OmarZV opened #597 "Getting a NoMethodError: undefined method `oauth_token' for User"
Apologies for the beginner question. I'm trying to use the Koala gem on my app. Currently, I have devise and omniauth (for facebook login). And they work great - I'm able to register users easily. What I want to do now though is utilize Koala to get access to Facebook data from my logged in Users. However, I'm getting an error "NoMethodError: undefined method oauth_token for #<User:0x007fc4681ad77

[2017-03-07 12:57] harishbollina commented on #543
Hello arsduo,

I am trying to do the same thing(Adding thumbnail to video) from Graph API and I am receiving the error msg:  "(#100) Invalid image format. It should be an image file data."
The Images that I am using as source are :
https://www.facebook.com/images/fb_icon_325x325.png
and another Image which is in my local host. Either way is not working for me. Please help what I am doing wrong her

[2017-03-07 13:46] harishbollina opened #598 "Same as issue #523"
Hello All,

I am trying to do the same thing(Adding thumbnail to video) from Graph API and I am receiving the error msg: "(#100) Invalid image format. It should be an image file data."
The Images that I am using as source are :
https://www.facebook.com/images/fb_icon_325x325.png
and another Image which is in my local host. Either way is not working for me. Please help what I am doing wrong here...

[2017-03-07 14:34] arsduo commented on #597
Hmm, interesting. What is the schema.rb entry for the users table? What
columns are on it?

Are you able to access oauth_token in other parts of the app? If you add
byebug to your gemfile and throw in a debugger at that point, what do you
see?

This looks like an issue in your Rails app more than an issue with Koala,
so StackOverflow might be a better place to ask, but hopefully those
questions wi

[2017-03-07 14:36] arsduo commented on #598
This is a duplicate of #543 with the same comment as there, so I'm closing this.

[2017-03-07 14:36] #598 closed

[2017-03-07 14:37] arsduo commented on #543
Hmm. Sounds like this could be a case for a convenience method. Can you provide the code you're trying to use to post the thumbnail and video?

[2017-03-07 16:25] OmarZV commented on #597
Thank you so much for responding mate!! Your comment was super helpful. I think its in the schema where the problem is --> I listed it below. I've put in Stack overflow but got little traction, any help would be amazing champ :1st_place_medal:  :smile:

**schema.rb**
`create_table "users", force: :cascade do |t|
  t.string   "email",                  default: "", null: false
  t.string   "encrypte

[2017-03-07 16:43] arsduo commented on #597
Hmm. It looks like there's no `oauth_token` column on the users table, which fits with the error message. You'll need to add that column and figure out how to get Devise to record it when a use logs in (which it might do automatically). After that the code you have in the model to instantiate a Koala API object should work.

[2017-03-07 16:53] OmarZV commented on #597
Thank you so much champ!! I think that solved it!!

[2017-03-07 16:59] arsduo commented on #597
Awesome! Glad to be able to help :)

[2017-03-07 16:59] #597 closed

[2017-03-08 03:27] arsduo commented on #595
It wasn't actually necessary to up the JSON version -- 2.0 was supposed to fully support the JSON spec, but in the end I had to use quirks_mode. Since Rails 4 requires an earlier version, that's definitely the way to go -- Koala has to be compatible with Rails 4. Closing this and merging in the PR.

[2017-03-08 03:27] #595 closed

[2017-03-08 03:33] arsduo commented on #557
Since it's been three weeks I'm going to close this, but if you are still having the issue and can see it working in the graph explorer, definitely reopen this or create a new issue with that info. Thanks!

[2017-03-08 03:33] #557 closed

[2017-03-08 03:33] arsduo commented on #554
Since it's been three weeks I'm going to close this, but if you are still having the issue and can see it working in the Graph Explorer, definitely reopen this or create a new issue with that info and the debug logs. Thanks!

[2017-03-08 03:33] #554 closed

[2017-03-08 03:34] arsduo commented on #539
Since it's been three weeks I'm going to close this, but if you are still having the issue, definitely reopen this or create a new issue with some samples of the raw data you get back from Facebook and I'll look into it. Thanks!

[2017-03-08 03:34] #539 closed

[2017-03-08 03:34] arsduo commented on #494
Since it's been two weeks I'm going to close this, but if you are still having the issue, definitely reopen this or create a new issue with that info. Thanks!

[2017-03-08 03:34] #494 closed

[2017-03-08 05:42] harishbollina commented on #543
Sorry for the delayed response....
I am trying to attach a thumbnail to an existing video in FB.....
I am using graph API to do that...
Can I attach a thumbnail to a video on user wall or its only to a video on user page....?As per API..it is only to a page...but I am trying for user wall
I am using the below url for that...
https://graph.facebook.com/<Video-id>/videos
URL for Thumbnail:
=========

[2017-03-08 06:37] rajeevriitm commented on #557
Sorry for the late response. I checked Facebook API and its not possible to do it there. So I guess two requests are necessary . Thanks for the response.

[2017-03-08 14:18] arsduo commented on #557
Sorry to hear that :/ One way to reduce the outgoing requests would be to use a batch API call!

[2017-03-09 16:25] rusikf opened #599 "Upload multiple photos simultaneously"
Hello, is it possible to upload multiple photos simultaneously?
I am using `put_picture` method for uploading for any of my facebook pages, but I can't upload multiple photos at once.
[It looks](https://developers.facebook.com/docs/graph-api/photo-uploads), that there is no way to upload multiple photos to pages, is it true ?

With best regards, Ruslan.

[2017-03-09 16:46] arsduo commented on #599
You can't send multiple pictures in a single put_picture request, but you
can send multiple requests at once using the Batch API. Would that work?

On Mar 9, 2017 10:25, "Ruslan Korolev" <notifications@github.com> wrote:

Hello, is it possible to upload multiple photos simultaneously?
I am using put_picture method for uploading for any of my facebook pages,
but I can't upload multiple photos at on

[2017-03-09 19:54] rusikf commented on #599
May be , but I want to create one post with multiple photos, not many posts, is it possible?

[2017-03-09 23:50] arsduo commented on #599
Oh, I see. I don't know the answer to that. I'd suggest asking on
facebook.stackoverflow.com if you can't find any info on there already.
That's the best place to ask Facebook API-related questions; the Github
repo is more focused on issues with the Ruby code.

If you're about to find an answer but Koala doesn't support how to do that,
please reopen the issue or open a new one. (If you figure it o

[2017-03-14 16:58] OmarZV opened #600 "ArgumentError: wrong number of arguments (given 1, expected 0)"
Hi guys,

I was working with Koala gem in combo with Omniauth and devise. I was able to call this command in the console " u.facebook(u).get_object("me")" perfectly with one user two days ago. And now, when I do it for a new user who just signed in a I get an argument error. I have provided my relevant code below and a screenshot. Any help would be amazing - thank you so much!!

**User.rb**
[code]

[2017-03-14 17:01] arsduo commented on #600
You're calling `u.facebook(u)` but defined the Facebook method to not require any arguments. Remove that and you should stop getting that error.

Good luck and thanks for using 🐨!

[2017-03-14 17:07] OmarZV commented on #600
Arsduo thank you so much 😄  if i can bother you with one more quick question. In my rails console when I try calling a user besides last using User.where(id:9) --> I get an undefined facebook for that user. But it worked perfectly when that user was the last one.

![screen shot 2017-03-14 at 1 05 44 pm](https://cloud.githubusercontent.com/assets/16312270/23912772/2be80bec-08b7-11e7-9114-59710c5d9b

[2017-03-14 17:35] arsduo commented on #600
`User.where` returns an `ActiveRecord::Collection` object, which is more or less an Array for your purposes. You'll either need to call `.first` or use `User.find_by` to return the User object itself. (If you haven't looked at the documentation for ActiveRecord queries, you should -- it's really well written.)

Good luck!

[2017-03-14 17:35] #600 closed

[2017-03-14 17:39] OmarZV commented on #600
Thanks Champ!!

[2017-03-20 15:28] #599 closed

[2017-04-04 01:30] viveki2it opened #603 "Not getting access_token in correct format"
As i am using the get_user_info_from_cookie(cookies) to get fb cookies. But i am not getting the correct format. Please check below format.

"{\"algorithm\"=>\"HMAC-SHA256\", \"code\"=>\"AQDgbzpa5ix3qFFa-r8CbB4ZoDAwxmrDmpoNV0GXFqzFAtvauUzmV7SPumLZYAPxv5R-CaDFalasmhurR_TyvbHsXfWE3-eT9gh8mA5tv5Dxar-ANEjXCOKHiBDeD4GIG7Sv6lSnJcoTo_QSA306YydjeD8Zzki7n1SJH9cH8Z4bzD1K-fOp2SfjCXQrDjHe7UdajfGGb-CQzM0i82Fky

[2017-04-10 14:35] spuyet opened #604 "Improvement: Add brackets to array param implicitly"
Hello,

Actually, the api joins all the arguments of an `Array` param but keep the key as original, see: https://github.com/arsduo/koala/blob/master/lib/koala/api.rb#L131

For example, we have to use this syntax:
[code]

WDYT to remove the brackets  and add them implicitly ? It looks nicer and more logical to me.

[code]
`api` is a `Koala::Facebook::API` object.

[2017-04-17 20:46] neyp opened #606 "Invalid verification code format"
Hi, I'm using Koala v2.5.0 and when I run `oauth.get_access_token_info(access_token)` (where access_token is the one returned by the JavaScript SDK login), I get the following error: `Koala::Facebook::OAuthTokenRequestError: type: OAuthException, code: 100, message: Invalid verification code format. [HTTP 400]`. Any clues?

[2017-04-23 15:43] cyurtbil opened #607 "Koala::Facebook::ClientError OAuthException in v3.0.0.rc2"
Hi,

I have just implemented Koala v3.0.0.rc2 to my Heroku hosted Rails application for Facebook Login with Graph API.

I'm getting this error with some of my users:
Koala::Facebook::ClientError (type: OAuthException, code: 5, message: (#5) Unauthorized source IP address, x-fb-trace-id: Dpoe+vZ6aMC [HTTP 400])

Is this a Koala issue> If it is, I would be happy to answer any questions to ease the p

[2017-04-24 09:04] dmilisic commented on #128
This [wiki page](https://github.com/arsduo/koala/wiki/Graph-API) still links here. However this code doesn't work any more (with new koala). The controller code should look like this:

[code]

[2017-04-27 19:50] stevendelarwelle opened #608 "Realtime Updates for Pages an App Manages"
Realtime updates doesn't have a method to subscribe an app to pages managed by that app. After going over the Fb Webhook Documentation is looks like its not only possible but fairly simple.

Heres what the request needs.
PAGE_ID
PAGE_TOKEN

all you need to do is make POST request to /page_id/subscribed_apps using the page token from
 your app. Fb returns {"success":true} and you are now subscribed

[2017-04-27 20:03] stevendelarwelle commented on #608
Or it is here, just worded wrong.
@updates = Koala::Facebook::RealtimeUpdates.new(:app_id => YOUR_APP_ID, :app_access_token => YOUR_ACCESS_TOKEN)

Should it be:
@updates = Koala::Facebook::RealtimeUpdates.new(:**page_id** => YOUR_APP_ID, :**page_access_token** => YOUR_ACCESS_TOKEN)

[2017-04-28 16:35] leonelgalan commented on #607
I don't think so, that error is coming directly from Facebook and it implies that the IP address has been blacklisted (temporarily from my experience). I also host an app on Heroku and we see a Spike of this errors in the last few days.

We believe this is related to Facebook's new efforts on fighting fake accounts. But don't have a confirmation yet.

[2017-04-28 16:38] cyurtbil commented on #607
Yes, I have assumed that too, but just would like to make sure it is a Koala issue. Thanks for the quick reply. I am going to close the issue right now.

[2017-04-28 16:38] #607 closed

[2017-05-02 14:08] twelvelabs commented on #543
I was able to reproduce this via the following:

[code]

I looked around at the internals of `#put_video` and noticed that if the first arg is **not** a URL, then you assume it's a `File`-ish object and wrap it in `Koala::HTTPService::UploadableIO`. I tried that and it worked just fine:

[code]

Probably just need to add documentation to the README and/or https://github.com/arsduo/koala/wiki/Uploa

[2017-05-17 19:05] raysango commented on #599
@rusikf @arsduo if the issue is to create one post with multiple images then you can do that Koala, what you need to do is first upload pictures with published: false and you will get photo id for each upload, after that build the attachments hash to be posted to the feed
@images = [image_1, image_2, image_3]
images_hash = {}
@image_ids = []
@images.each do |file|
   fb_photo = page_graph.put_pict

[2017-05-23 08:00] alfredoreduarte commented on #606
I'm also experiencing this issue. Apparently FB is returning the data in a different format.

[2017-05-23 14:24] arsduo commented on #606
Thanks for the heads-up. If anyone wants to submit a PR for that I can
review it this weekend, otherwise I'll put together a fix in the next week
or two.

On Tue, May 23, 2017 at 03:00 Alfredo Re <notifications@github.com> wrote:

[2017-05-23 20:18] alfredoreduarte commented on #606
I've just tried using Faraday directly, like this:

[code]

And I get the exact same error message as when I use Koala:

[code]

I don't know where else to look for this, the parameters we're using are correct according to https://developers.facebook.com/docs/graph-api/reference/page/tabs/

[2017-05-26 05:35] TheStu opened #609 "put_wall_post deprecated fields in v2.9"
Spent the last 3 hours trying to figure out what I was doing wrong, but it looks like the 4 fields associated with a link (caption, description, picture, name) have all been deprecated as of API v2.9.
It looks like a v2.9 access token or `config.api_version = "v2.9"` both cause the deprecation.
Only place I could find it mentioned is here: https://developers.facebook.com/docs/graph-api/reference/v

[2017-05-26 05:57] puneet18190 commented on #599
@raysango

My requirement is to post multiple pictures with title, description and link.
I tried your code mentioned above, it posts multiple pictures but not add title, description and link under post.

Code:

@images = [image1, image2, image3, image4]
images_hash = {}
@image_ids = []
@images.each do |file|
  fb_photo = @api.put_picture(file, 'image/jpeg', published: false)
  @image_ids << fb_pho

[2017-05-26 06:40] raysango commented on #599
@puneet18190 I think you need to change the order of the parameters passed try this:

@page_graph.put_connections('me', 'feed', images_hash.merge({'message' => 'post text'}))

I just tested it and it is posting multiple pictures with message as post text, regarding link and description What happens if you include them in the message parameter?

[2017-05-26 09:27] puneet18190 commented on #599
@raysango

Thanks for your help.

[2017-05-26 09:29] puneet18190 commented on #599
@raysango

Can you please let me know how to get a Facebook token which is never expired.
I get a token from https://developers.facebook.com/tools/explorer/ but it expired after some time.

[2017-05-26 10:07] puneet18190 commented on #599
@raysango

I tried to add html tags in message like:

@page_graph.put_connections('me', 'feed', images_hash.merge({'message' => " <a href='www.test.com'>Testing</a>"}))

It display text with tags on page, not add html. How to add html tags in message?

[2017-05-28 01:15] arsduo commented on #609
Thanks! That's good to know. I'll rewrite that documentation.  Were you able to figure out alternatives, by any chance?

[2017-05-29 21:06] TheStu commented on #609
Not really unfortunately. The workaround that I came up with was tweaking the title and meta description of the page being linked to, so that the data Facebook pulled from the page was more or less what I wanted it to be, but it's still a poor substitute.

[2017-05-31 16:33] raysango commented on #599
@puneet18190 you can use html_safe on a string with html tags, didn't test it but should work, regarding the FB token I'm sure there a lot of the same question on Stack Overflow and it's kinda different subject from this issue

[2017-06-11 09:01] arpwal commented on #543
Any idea on how this could be solved in general on python?
I've been trying --
`
        with open(image_thumbnail_filename, "rb") as image_file:
            poster_encoded_string = base64.b64encode(image_file.read()).decode("utf-8")
`

with no luck.

[2017-06-14 09:44] MuneebSarfraz94 opened #611 "type: OAuthException, code: 2500, message: Unknown path components:"
When i pass parameters to oauth.get_connections() method it returns following error with logs
Koala::Facebook::AuthenticationError: type: OAuthException, code: 2500, message: Unknown path components: /IUPATDC35/feed, x-fb-trace-id: Fdl5cjt9fLC [HTTP 400]
	from /home/munib/.rvm/gems/ruby-2.1.10@unionconnect-rails/gems/koala-2.3.0/lib/koala/api/graph_api.rb:529:in `block in graph_call'
	from /home/m

[2017-06-20 10:20] HamzehSoboh commented on #537
Don't you think it's very small? Please provide an alternative. Thanks.

[2017-07-04 07:05] himberjack opened #612 "Next/Prev page doesn't work on videos node"
Using
videos = graph.get_connections("#{fb_page_id}", "videos", { since: '2016-06-01', 'until': '2016-07-01', limit: 1000 }, api_version: "v2.9")

and then videos.next_page or previous_page yields nothing. Even though in the FB debugger they return as BEFORE & AFTER

[2017-07-06 01:17] josealbertohm commented on #609
Hello! Maybe this is not the way to ask this, but I would like to know how I can to specify the Facebook API versión to be used in my ruby project. I've found some old documentation but in the Koala version 3.0.0 I don't know where or how I can set this to use the Facebook API version 2.9

[2017-07-07 07:51] cedricmatalog commented on #482
where you able to find the solution?

[2017-07-19 00:51] OrrYakobiStudent opened #614 "graph.search returning empty array"
[X] What I'm doing works on the [Graph API explorer](https://developers.facebook.com/tools/explorer/)/curl/another tool.

Seeing an example of what works helps diagnose what doesn't work.

[X] I'm using the newest version
[X] Here's code to replicate the issue:

lookup = user_graph.search("Los Angeles", {:type => "adgeolocation"})

[2017-07-23 03:36] pawandubey commented on #609
@josealbertohm I hope you resolved it but you can see the example of setting the api version per request or globally in the README: https://github.com/arsduo/koala#graph-api

[2017-07-27 00:18] ilrock opened #615 "Invalid app_secret_proof response"
[ ] What I'm doing works on the [Graph API explorer]
![image](https://user-images.githubusercontent.com/4171627/28648948-98dacd4a-729b-11e7-8f91-7ac959dae41d.png)
[ ] I'm using the newest version
Koala 3.0.0
[ ] Here's code to replicate the issue:

[code]

![image](https://user-images.githubusercontent.com/4171627/28648923-7476366a-729b-11e7-88fa-d4afbacff40b.png)

[2017-07-27 10:26] agnel-waghela commented on #545
@AlexCppns Try this instead

`client.get_connections("act_XXXXXXXXX",'customaudiences', { :filtering => [{ :field => 'name', :operator => 'CONTAIN', :value => 'Client' }].to_json })`

Let me know if this works.

And for request logging try this -

`Koala::Utils.level = Logger::DEBUG`

[2017-07-27 19:08] atishay5395 commented on #518
Hi arsduo, Im not able to set the fields using Koala. Can u help me out? I just get three parameters - id, created_time and message

[2017-08-04 18:26] cumuluscomputing opened #619 "put_wall_post ignoring fields?"
Hi, I'm trying to use put_wall_post to post to a page, but it seems to ignore most of the fields (using the example post, with a different link and image url) the post contains the 'Hello there!' and the link, with an image from the link.  This leaves out 1) the 'name', 2) 'caption', 3) 'description'.  Is this an issue for anyone else or is there an issue with permissions or access codes or someth

[2017-08-05 16:50] cthorner commented on #619
duplicate of issue #609 ?

[2017-08-10 17:27] johansmitsnl commented on #609
How can this be solved to set a different image on the post?

[2017-08-10 17:31] johansmitsnl commented on #619
But now how to solve it or it can't?

[2017-08-11 19:06] cumuluscomputing commented on #619
yep duplicate of 609, haven't figured out a workaround

[2017-08-14 13:30] tamaloa opened #620 "getting Posts from public page fails sometimes"
We are currently monitoring public facebook pages.
For very few pages we are not able to retrieve results using Koala. Meanwhile we can retrieve results from the Facebook API-Explorer.

Example:

works (also with older versions of API)

While

[code]

Results in an error but works for other pages/IDs as below

[code]

Any Idea what may be causing this?

[2017-08-19 16:30] tscholz opened #621 "Exception when calling batch_api.get_object(id:number, {fields: 'email, ...'})"
Hi there

Thank you for the great gem!

Because of Facebook API 2.3 end of life we are forced to explicitly request extra info_fields like email, first_name etc. now. Our application depends on these extra fields.

By doing so we're running into an issue with the `GraphBatchApi#graph_call` method.

[code]

From the documentation `GraphAPIMethods#get_object` accepts a number or string for the ID pa

[2017-08-20 16:38] ArmandoAssuncao opened #622 "Use default app access token in API"
Hi,

I was trying to use the default app_access_token in the `Koala::Facebook::API` and saw that it is not possible.

Then I looked at the code:
https://github.com/arsduo/koala/blob/3c7037eea67062f05eccb16836bebec403ddbfec/lib/koala/api.rb#L95

I saw that `args["access_token"]` is only assigned by the `@access_token`. The `@app_access_token` will never be assigned because it does not start.

So I

[2017-08-20 21:31] heisejason opened #623 "session / koala"
Thanks for using Koala! Sorry you've run into an issue 😓  Here are some questions to help get things figured out as quickly as possible.

You don't have to fill this all out -- it's more of a guide. If in doubt, delete any sections that aren't relevant and open the issue. I want to help.

[ ] This is a Koala bug/issue/documentation problem.

Koala is a labor of love both from me and from the aweso

[2017-08-27 19:01] christianstanfield commented on #518
@atishay5395 You should be able to request specific fields for any relevant endpoint as a fields hash identical to the example above

[2017-08-29 21:18] Meekohi commented on #105
Syntax is a little weird in some cases. In case it helps anyone else, this works:
`@graph.get_object(self.facebook_uid, {fields: [:name,"events.limit(500){id,place,description,category}"]})`

[2017-09-18 11:51] kanagaraju91 opened #624 "How to get face book page reviews using account name(without page access token)"
Hi,

How to get the facebook page reviews using the facebook account name.I did not get any solution in this gem.Please do needful.

[2017-09-19 06:10] jonsrose opened #625 "Rails - Koala / Faraday Gems Execution Expired Error"
0down votefavorite | I am working on a rails application that uses Koala gem (v2.2) and Faraday (0.9.2). It seems like a lot of the facebook requests are erroring out with execution required and Im not sure why.

here is code snippet:

oauth = Koala::Facebook::OAuth.new(Rails.application.config.facebook_app_id,
                                   Rails.application.config.facebook_app_secret,

[2017-09-19 14:36] harshwardhan-rathore opened #626 "Check if a page post is promoted or not"
Hi,

I want to read insights of only those posts which are promoted. But unfortunately I did not find anything regarding promoted posts. Please help me out. Thanks in advance.

[2017-10-16 19:20] tappella commented on #441
hey @7fELF , thanks for the info.

I don't know, but it seems there are some issues with Facebook, it brings mutual friends for some users but for others it doesn't.

Anyone facing the same issue?

[2017-10-31 01:22] rodrigotavio91 commented on #270
I've found a work around for this issue, for anyone who are facing the same problem. Just publish the post link on user's wall:

`client.put_wall_post('foo', link: "https://www.facebook.com/{page_id}/posts/{post_id}")`

Of course, your app must require the `publish_actions` permission from user.

This worked for me.

In my case, I was trying to share a post from a page. I guess you can achieve the

[2017-11-14 18:09] diegoacuna commented on #606
@alfredoreduarte did you manage to find a solution? I'm facing the same problem but not always, once in a while, in some requests, I get "Invalid verification code format" error.

[2017-11-17 08:43] nnthao opened #628 "Can not get headers when use Koala::Facebook::API put_connections"
Hi all,
I can not get header from response like **response.headers** when use  **Koala::Facebook::API put_connections**, but can get when use **Koala::Facebook::API put_connections**

Thanks,

[2017-12-18 12:56] tootis opened #629 "Friends returns empty array"
Hello,

I am using the latest version of Koala (3.0.0)
When I use `Koala::Facebook::API(access_token).get_object("me", fields: "email,friends,...)`

I get `"friends => {"data"=>[], "summary"=>{"total_count"=>312}}"`
I get the right `total_count` but the data array is empty

I've tried to do:
`Koala.config.api_version = "v2.6"`
`Koala.config.api_version = "v2.0"`

But nothing works for me

Can anyo

[2018-01-15 10:43] wrabit opened #632 "Error window nags"
1. It doesn't hang around long enough to always understand the source of the bug before the window disappears. A suggested solution: When mouse is hovered over the box, it remains until mouseout.

2. Long strings are not broken so things like path names are often broken rendering the error a bit unhelpful when you cannot easily see the problematic file.

[2018-01-25 09:26] IronLeash commented on #384
invitable_friends will not work after february 2018 since facebook made app invites also deprecated.

[2018-02-06 18:03] rmorcos commented on #629
@tootis make sure your access_token has user_friends permission granted

[2018-02-06 20:55] morozartem9 commented on #338
thank you very murch, it's exciting

[2018-02-07 05:24] prshntchourasia opened #633 "When calling "put_wall_post" funstion of koala, facebook is not picking up the image"
When calling the below function, facebook is not picking up the image from picture instead it is picking up the (image, description) from meta tags of the link which is mentioned in the link key, which I dont want in my case.
[code]

[2018-02-13 14:25] Sapphire3383 commented on #624
https://www.facebook.com/love.bondarenko.3

[2018-02-21 19:33] sn0bored commented on #633
This one snuck up on me as well.  Facebook no longer allows you to set the picture you are sharing for a link.  They removed it last year.

https://developers.facebook.com/blog/post/2017/06/27/API-Change-Log-Modifying-Link-Previews/

You can share the image through the `put_picture` method.  Or you can make you link the url to the image (this one can be ugly though).  But FB will not allow you to

[2018-02-26 16:03] ylecuyer opened #635 "Support X-APP-USAGE"
It would be nice to have the ability to define a block which would get called with the content of HEADERS[X-APP-USAGE] when defined

[2018-03-28 21:23] cntran opened #636 "Facebook Graph API v2.5 Deprecated"
Facebook API v2.5 will be deprecated on April 12th, 2018:
https://developers.facebook.com/docs/graph-api/changelog

Is Koala going to be compatible once deprecation occurs?

[2018-03-28 21:38] arsduo commented on #636
It will. Koala doesn't implement any particular version of the API. Let me know if you run into any issues with the library itself at the cutover!

[2018-03-28 21:38] #636 closed

[2018-03-28 21:40] cntran commented on #636
Ok thanks much!

On Wed, Mar 28, 2018 at 2:38 PM, Alex Koppel <notifications@github.com>
wrote:

[2018-04-02 17:56] Meekohi commented on #620
https://developers.facebook.com/bugs/316526372199563/

The gist of it is:

[2018-04-19 19:33] spnkr opened #637 "auth.info.image for facebook returns a generic user icon"
it used to work, now the image is this generic one. did facebook change their api?

![1](https://user-images.githubusercontent.com/11250/39013954-f5091c3a-43e6-11e8-9cac-37cf8e8c8e4e.jpg)

[2018-04-26 12:52] jlfenaux commented on #611
I had the same error when I specified a wrong version of the Facebook API.
Koala.config.api_version = "v2.80"
instead of
Koala.config.api_version = "v2.8"

[2018-04-26 12:56] codener commented on #611
Happened to me with the subtle `Koala.config.api_version = "2.80"` :see_no_evil:

[2018-04-26 12:58] MuneebSarfraz94 commented on #611
yeah it was same issue with me. Fixed now. thanks for the response though almost after a year :laughing:

[2018-04-26 13:00] jlfenaux commented on #611
Leaving a trace on the issue page  may help someone else. ;-)

[2018-05-03 18:58] ayunker opened #638 "Getting page posts returns an empty array"
Hi -
We've been using Koala to get posts from our facebook page using `@graph.get_object "#{page_id}/posts"`. This has been working with no issue up through April 24th, since then it returns an empty array.

Making the same call from the Graph API explorer returns the expected posts, and making similar calls using Koala for `@graph.get_object "#{page_id}/photos"` and `@graph.get_object "#{page_id}

[2018-05-03 22:37] mfrederickson commented on #638
My stuff was working fine too until recently, now I am getting:
[code]
when I try to get_connections for posts, feeds, etc.

I think it has to do with [breaking changes](https://developers.facebook.com/docs/graph-api/changelog/breaking-changes), and/or requiring my application to be [approved](https://developers.facebook.com/docs/apps/review/)... so I'm looking into that...

[2018-05-04 00:21] tekram opened #639 "Page Access Token Error?"
user_graph.get_page_access_token(user_token)

The above command used to work just fine but now gives me the error below from FB:

Koala::Facebook::ClientError: type: OAuthException, code: 10, message: (#10) To use 'Page Public Content Access', your use of this endpoint must be reviewed and approved by Facebook. To submit this 'Page Public Content Access' feature for review please read our document

[2018-05-04 14:51] neeaagh commented on #639
We had this happen to our app yesterday as well. It seems like for Page access we need to submit our app for review. Strange that they just turned it off without notice after we've been using that access for the last two years. I submitted for review yesterday and haven't heard anything back yet.

[2018-05-04 15:38] tekram commented on #639
One way around it is using the below which gives you the page access tokens for each page.

user_graph.get_connections('me','accounts')

[2018-05-04 15:39] tekram commented on #639
According to Facebook docs, it does not seem like one should need Page Public Content Access?

https://developers.facebook.com/docs/facebook-login/permissions/v3.0#reference-manage_pages

[2018-05-04 21:08] Rairomero opened #640 "Testing with Koala fail by execution expired"
There's a way for test koala with simulate facebook server? I'm using rspec and when run test, It use the reals facebook server, sometimes its failed by execution expired.

[2018-05-08 17:29] shorepound commented on #606
I get this error randomly as well. I'm trying to find a pattern. Hoping someone has some insight.

[2018-05-09 22:35] tekram commented on #639
@neeaagh Did you hear back?

[2018-05-14 09:43] jonnyclinch commented on #543
still no luck with this issue, someone found a solution?

[2018-05-17 00:45] OrrYakobi opened #641 "put_video not showing on wall, but shows in videos library."
I'm trying to publish a video to a facebook page that I'm an admin of via business manager. I have granted the publish_pages and manage_pages permissions via omniauth-facebook.

For whatever reason, the video is not showing up on the wall, but only in the videos library, and it is also not viewable by others. Doesn anyone know why?

[code]

[2018-05-18 22:42] ayunker commented on #638
This was related to breaking changes, once our app was approved data started flowing again.

[2018-05-18 22:42] #638 closed

[2018-06-25 12:47] tamaloa commented on #620
Thanks for your feedback. As we can succesfull query using the API-Explorer provided by Facebook i suppose https://developers.facebook.com/bugs/316526372199563/  is not the cause of above issue.

[2018-06-26 13:57] ylecuyer opened #642 "fbtrace_id is not passed correctly to Koala::Error"
I have noticed that facebook changed the format of the error sent to us.

Previously it was `x-fb-trace-id`
https://github.com/arsduo/koala/blob/master/lib/koala/errors.rb#L66
And now it is `fbtrace_id`

Example:

[code]

it doesn't have the `x-fb-debug` and `x-fb-rev` so I'm not sure if they still exist

[2018-07-17 05:04] brianlaw033 commented on #438
I am getting this, any fix?

[2018-07-17 07:21] istana commented on #438
Hi, do you use the latest version of koala?

[2018-08-01 08:58] rafaltrojanowski commented on #629
@tootis Solved your problem?

[2018-08-01 09:00] tootis commented on #629
No, I had the permission from the very beginning.

On Wed, Aug 1, 2018, 10:58 AM Rafał Trojanowski <notifications@github.com>
wrote:

[2018-09-19 12:32] GauthamSakthiveeran-zz opened #644 "Unable to post visitor post to a facebook page using graph API."
I am trying to post a visitor post to a facebook page using graph API(Using Koala Gem). Getting the below error,

Koala::Facebook::ClientError: type: OAuthException, code: 200, message: (#200) Requires either publish_to_groups permission and app being installed in the group, or manage_pages and publish_pages as an admin with sufficient administrative permission, x-fb-trace-id: DlkUWs8nor8 [HTTP 40

[2018-10-19 14:09] ricardo-properati commented on #425
Your issue is from 2014, anyone has some update on it? It still happens in newer versions?

[2018-10-19 14:18] kenn commented on #425
I'm no longer maintaining the project I originally posted for.

[2018-10-19 15:06] ricardo-properati commented on #425
Ok, do you recommend any other facebook wrapper for ruby? Or is best to just consume the facebook API directly?

[2018-10-23 17:37] slucha commented on #644
I am having the same error trying to post to my own page. It seems to be due to the new Facebook api changes where this is not possible anymore.
https://stackoverflow.com/questions/52405905/unable-to-post-visitor-post-to-a-facebook-page-using-graph-api (last comment on initial post)
Any workaround possible here?

[2019-01-11 06:13] davidalejandroaguilar commented on #156
Uh, `get_user_info_from_cookies(cookies)` is actually raising `Koala::Facebook::OAuthTokenRequestError` for me on Koala 3.0 on a `fbsr_` expired cookie.

[2019-02-23 20:39] tonito1101 opened #645 "Hellpp"
I dont know how to configure the koala someone can help me?

[2019-03-19 20:00] lonny opened #646 "Undefined Method "alias_method_chain""
Simply trying to load Rails console (Ruby 2.6.0, Rails 5.2.2, koala 3.0.0) gives this error:

config/initializers/koala.rb:26:in `block in <top (required)>': undefined method `alias_method_chain' for Koala::Facebook::OAuth:Class (NoMethodError)

Here is the traceback:

Traceback (most recent call last):
	48: from bin/rails:4:in `<main>'
	47: from bin/rails:4:in `require'
	46: from /Users/lonny/.rv

[2019-03-28 09:03] Rajesh1213 opened #647 "Graph API v2.8 is going to be Deprecated on Apr 18, 2019."
There is a breaking change in facebook Graph API untill version 2.8,

`Reminder:` Graph API v2.8 will be deprecated on Apr 18, 2019. Please use the API Upgrade Tool to understand how this might impact your app. For more details see the changelog.

I am using the koala version 1.11.1, Should I update/upgrade anything in my code base before 18 Apr?

[2019-03-28 13:49] arsduo commented on #647
You shouldn't need to change anything with Koala! But there might be calls you make with Koala that you'll need to change to reference different endpoints or to reflect other changes. Facebook now has an API upgrade tool that can give you feedback on what will need to change for your app — I'd recommend checking that.

Good luck with the upgrade!

[2019-03-29 05:31] Rajesh1213 commented on #647
Sure, Thanks a lot @arsduo

[2019-03-29 05:31] #647 closed

[2019-04-18 11:23] mrublya commented on #425
I ran into the same problem, is there any solution besides waiting?
`Koala::Facebook::ClientError Exception: type: GraphMethodException, code: 100, message: Unsupported post request., x-fb-trace-id: Hk6kEVtzwKm [HTTP 400]`

[2019-08-13 12:54] maahesmahesh commented on #545
@agnel-waghela It's works perfectly.

[2019-08-17 03:58] tannakartikey opened #649 "Facebook desecrated befriend API from v4.0"
Facebook deprecated befriend APIs where we can create and accept a friend request between two test users.
Link to the API:
https://developers.facebook.com/docs/graph-api/reference/v4.0/test-user/friends
Link to the bug I reported on Facebook where they confirmed that they have deprecated it:
 https://developers.facebook.com/support/bugs/1129010723972017/?disable_redirect=0

Now, `create_network` m

[2019-10-19 11:06] mobcoder-radha commented on #611
I read all ads from one ad account:
i am hit this api  https://graph.facebook.com/v4.0/act_440553599910864/ads
and pass the access token but this give me
{
    "error": {
        "message": "An access token is required to request this resource.",
        "type": "OAuthException",
        "code": 104,
        "fbtrace_id": "Ax5oXb5EbXOYJJpkwk16FCO"
    }
}

[2019-11-21 20:35] luisk182 commented on #645
I need help too, anyone?

[2019-11-22 05:35] khanimdad commented on #645
You just need to configure yml file and settings on FB and you are done

[2020-07-02 17:37] surendar1161 commented on #491
NameError (uninitialized constant Koala::Facebook::GraphAPI)    this is the full error @arsduo

[2020-07-14 20:03] ylecuyer commented on #646
Hello @lonny, as far as I can see there is no reference to `alias_method_chain` in the project.
From you stacktrace I see this error comes from your initializer which may contain some monkey patch.

I'll close the issue for now, feel free to reopen if you still have the issue.

[2020-07-14 20:03] #646 closed

[2020-07-14 20:07] ylecuyer commented on #645
You'll find how to configure koala here: https://github.com/arsduo/koala#configuration
You can also read the Facebook reference documentation: https://developers.facebook.com/docs/graph-api/using-graph-api

[2020-07-14 20:07] #645 closed

[2020-07-14 20:09] ylecuyer commented on #644
This error was not directly related to koala, you can refer to the Facebook graph API reference when this happens: https://developers.facebook.com/docs/graph-api/reference

[2020-07-14 20:09] #644 closed

[2020-07-14 20:12] ylecuyer commented on #640
Hello @Rairomero, for this kind of tests you can use the VCR gem (https://github.com/vcr/vcr) to record the request once and use the recorded data for future test runs.

[2020-07-14 20:12] #640 closed

[2020-07-14 20:13] ylecuyer commented on #639
Closing for now as this was related to a Facebook API change.

[2020-07-14 20:13] #639 closed

[2020-07-14 20:15] ylecuyer commented on #633
Thanks for your feedback @sn0bored
Closing for now

[2020-07-14 20:15] #633 closed

[2020-07-14 20:18] ylecuyer commented on #632
Closing as old and stale.
Feel free to open a new issue if you still have troubles with the gem.

[2020-07-14 20:18] #632 closed

[2020-07-14 20:20] ylecuyer commented on #629
Closing as old and stale.
Feel free to open a new issue if you still have troubles with the gem

[2020-07-14 20:20] #629 closed

[2020-07-14 20:28] ylecuyer commented on #625
Closing as old and stale.
Feel free to open a new issue if you still have troubles with the gem

[2020-07-14 20:28] #625 closed

[2020-07-14 20:28] ylecuyer commented on #626
Closing as old and stale.
Feel free to open a new issue if you still have troubles with the gem

[2020-07-14 20:28] #626 closed

[2020-07-14 20:36] ylecuyer commented on #620
Closing as old and stale.
Feel free to open a new issue if you still have troubles with the gem

[2020-07-14 20:36] #620 closed

[2020-07-14 20:37] ylecuyer commented on #611
Thanks for your feedback @jlfenaux

[2020-07-14 20:37] #611 closed

[2021-05-18 12:27] AsifShaafi commented on #543
Has anyone found any solution to this issue? or any workaround? I'm also stuck with the same thing. 😢

[2021-05-19 07:49] ylecuyer commented on #543
Could you try wrapping the file with `Koala::HTTPService::UploadableIO.new` as explained in this comment: https://github.com/arsduo/koala/issues/543#issuecomment-298646429

[2021-05-19 09:49] AsifShaafi commented on #543
Thanks, but I have changed the workflow now, uploading the thumbnail separately for the video after the video is uploaded.

[2021-07-07 13:43] inmar-mohan opened #656 "Koala::Facebook::ServerError on requesting for high limit of IG posts"
Thanks for using Koala! Sorry you've run into an issue 😓  Here are some questions to help get things figured out as quickly as possible.

You don't have to fill this all out -- it's more of a guide. If in doubt, delete any sections that aren't relevant and open the issue. I want to help.

[ ] This is a Koala bug/issue/documentation problem.

Koala is a labor of love both from me and from the aweso

[2021-07-07 14:15] ylecuyer commented on #656
Hello,

This error is not related to the gem, this is on the facebook side of the API.

Please do report on the facebook bugtracker with a saved session from the graph api explorer to get help from the facebook team https://developers.facebook.com/support/bugs/ (this gem isn't affiliated with facebook)

Regards

[2021-07-07 14:36] inmar-mohan commented on #656
Thanks for the quick reply, @ylecuyer. Sure, I will report on the Facebook bug tracker.

For additional information, we are not getting this error when requesting from graph API explorer even for **10,000** posts.
<img width="847" alt="Screen Shot 2021-07-07 at 7 51 33 PM" src="https://user-images.githubusercontent.com/51740231/124777336-c2ea0000-df5d-11eb-9074-2bd3ce398686.png">

We are getting t

[2021-07-14 10:38] khanimdad opened #657 "NoMethodError (undefined method `scheme' for "https://graph.facebook.com":String):"
Not sure what this issue is all about

[2021-07-15 18:22] ylecuyer commented on #657
Hello, there is not enough info to be able to help you. Could you follow the instructions given (template) when you create a new issue? For example, a code example and a stacktrace would help replicate / investigate the issue.

[2021-07-16 05:11] khanimdad commented on #657
Its fixed now it was something related to String method extension

[2021-07-16 08:31] #657 closed

[2021-12-04 10:58] 1997roylee opened #658 "please update the graph_collection, the next_page & previous_page are not working"
def next_page_params
          @paging && @paging["next"] ? parse_page_url(@paging["next"]) : nil
end

def previous_page_params
          @paging && @paging["previous"] ? parse_page_url(@paging["previous"]) : nil
end

these two methods are not supported now!!!
please update it, thanks

[2021-12-05 21:06] ylecuyer commented on #658
You are welcome to open a PR

Could you give more details? Do you have a repro session we could use? which endpoint/api version?

[2021-12-16 13:40] ylecuyer commented on #658
Closing because of the lack of details + no other reports

[2021-12-16 13:40] #658 closed

[2022-01-04 18:52] ericmustin opened #659 "Koala breaks with faraday 2.0 release `File does not exist: net/http/post/multipart`"
- [x] This is a Koala bug/issue/documentation problem.

Hello y'all. I help maintain [Opentelemetry-ruby](https://github.com/open-telemetry/opentelemetry-ruby), which supports tracing instrumentation for the Koala gem. We noticed the Koala instrumentation test suite is broken in CI in opentelemetry-ruby, [here's a test run thats failing](https://github.com/open-telemetry/opentelemetry-ruby/runs/47

[2022-01-04 20:03] ylecuyer commented on #659
Thanks for the really well detailed report, I'll have a look at what can be done here, meanwhile your workarround setting a max version of `< 2` for faraday will allow you to continue using the gem

[2022-01-04 21:43] ylecuyer commented on #659
I'd suggest the following:

1. add faraday < 2 to the runtime dependency and release a 3.1.0
2.1 Remove the multipart hack introduced in https://github.com/arsduo/koala/issues/125 I tried and couldn't reproduce. I'll do more testing tomorrow just to be sure
2.2 Upgrade the gem to be compatible with faraday 2 following their upgrading guide https://github.com/lostisland/faraday/blob/main/UPGRADING.

[2022-01-17 21:18] ylecuyer commented on #659
Part 1 of the plan is ready and release 3.1.0 should be out soon (https://github.com/arsduo/koala/pull/663)

@ericmustin I checked with the opentelemetry projects and everything is OK https://github.com/ylecuyer/opentelemetry-ruby/runs/4845955846?check_suite_focus=true and https://github.com/ylecuyer/opentelemetry-ruby/pull/1/files

regarding the plan, I also added 3.x support so that we don't hav

[2022-01-20 15:54] ericmustin commented on #659
ok, sounds good, thanks for the quick help here!

[2022-02-11 02:08] buithehien1991 opened #667 "How to post a content to my group on Facebook ?"
Dear all,

I created some groups on my Facebook.

So I'd like to share my URL and quote to these groups.

How I can do it ?

Thank you so much

[2022-02-11 15:00] ylecuyer commented on #667
Hello,

This gem is only about the connection to the fb graph api via ruby, you'll find the fb official reference for the API here https://developers.facebook.com/docs/graph-api/reference/v13.0/group

Regards

[2022-03-31 10:23] sofienargoubi commented on #543
upload thumbnail using local file
Nestjs with httpModule

`
    const form = new FormData(); // import * as FormData from 'form-data';
    const buffer = fs.readFileSync('./thumb.png'); // your path to thumbnail && fs import * as fs from "fs";
    form.append('thumb', buffer , { filename: 'thumb.png' }); // add buffer  and name original of thumbnail
    form.append('access_token', 'your page acces

[2022-03-31 11:08] #543 closed

[2022-05-27 08:17] #635 closed

[2022-07-05 00:15] jimtng commented on #659
I came across this issue just now. Another gem needs Faraday 2, so I had to downgrade koala to 3.0.0

[2022-07-21 21:54] nasaabg opened #673 "GraphErrorChecker#response_hash returns nil causing gem to crash"
This is a Koala bug/issue problem.

Hi!
At @zendesk we use your gem in version `3.0.0` and I come across that issue on our Production ENV.
For some reason we have been notified about an error:

[code]

in `koala/api/graph_error_checker.rb in base_error_info at line 57`

<img width="1056" alt="Screenshot 2022-07-21 at 17 40 45" src="https://user-images.githubusercontent.com/2679054/180320049-021700